<div class="row" style="margin-top: 40px; margin-bottom: 30px;">
  <div class="col s12 m12 l10 offset-l1">
    <div class="quarter">
      <p><%= image_tag("profile_pic.jpg", class:"profile-pic") %></p>

      <div class="line" style="margin-top: 0; text-align: center;">
        <%= link_to image_tag('linkedin.svg', class:"contact-icon"), "https://www.linkedin.com/in/daniel-cheley", target:"_blank" %>
        <%= link_to image_tag('github.svg', class:"contact-icon"), "https://github.com/dcheley", target:"_blank" %>
        <%= link_to image_tag('pdf.svg', class:"contact-icon"), "http://danielcheleyresume.s3-website-us-east-1.amazonaws.com", target:"_blank", class:"about-link" %>
      </div>
    </div>

    <div class="three-quarters">
      <div class="line">
        <%= image_tag('main-logo.png', class:"about-logo") %>
      </div>

      <div class="line" style="margin-top: 20px;">
        <i class="material-icons" id="about-icon">phonelink_ring</i>
        <p class="about-info">(416) 910-4130</p>
      </div>

      <div class="line" style="margin-top: 20px;">
        <i class="material-icons" id="about-icon">email</i>
        <p class="about-info">danielcheley@hotmail.com</p>
      </div>

      <p class="black-text" id="bio-text">
        My passion for problem solving drives me as a Software Developer to look
        for creative solutions and deliver high quality code to help clients solve
        business issues. I love a challenge and am continuously looking for
        opportunities to build complex applications.
      </p>
    </div>
  </div>
</div>
