<!DOCTYPE html>
<html>
  <div class="row">
    <div class="col s12 m12 l12" style="margin-top: 30px; margin-bottom: 30px;">
      <div class="divider"></div>

      <i class="large material-icons" style="color: #b71c1c;">code</i>
      <h4 class="headers" id="skill-header">Code</h4>

      <div class="full-width">
        <div class="progress-bar position" data-percent="90"><%= image_tag('ruby-badge.png', class:'skill-icon') %></div>

        <div class="progress-bar position" data-percent="95"><%= image_tag('rails-badge.png', class:'skill-icon') %></div>

        <div class="progress-bar position" data-percent="95"><%= image_tag('HTML5_Badge.png', class:'skill-icon') %></div>

        <div class="progress-bar position" data-percent="90"><%= image_tag('CSS-icon.png', class:'skill-icon') %></div>

        <div class="progress-bar position" data-percent="90"><%= image_tag('jquery-icon.png', class:'skill-icon') %></div>
      </div>

      <div class="full-width">
        <div class="progress-bar position" data-percent="80"><%= image_tag('js-logo-badge.png', class:'skill-icon') %></div>

        <div class="progress-bar position" data-percent="85"><%= image_tag('PostgreSQL-icon.png', class:'skill-icon') %></div>

        <div class="progress-bar position" data-percent="95"><%= image_tag('bootstrap.png', class:'skill-icon') %></div>

        <div class="progress-bar position" data-percent="95"><%= image_tag('materializecss-icon.png', class:'skill-icon') %></div>

        <div class="progress-bar position" data-percent="75"><%= image_tag('google-icon.png', class:'skill-icon') %></div>
      </div>

      <div class="full-width">
        <div class="progress-bar position" data-percent="90"><%= image_tag('github-icon.png', class:'skill-icon') %></div>

        <div class="progress-bar position" data-percent="80"><%= image_tag('heroku.png', class:'skill-icon') %></div>

        <div class="progress-bar position" data-percent="60"><%= image_tag('ember-js.png', class:'skill-icon') %></div>

        <div class="progress-bar position" data-percent="75"><%= image_tag('google-icon.png', class:'skill-icon') %></div>

        <div class="progress-bar position" data-percent="40"><%= image_tag('react-icon.svg', class:'skill-icon') %></div>
      </div>
    </div>
  </div>
</html>
