<!DOCTYPE html>
<html>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag('parallax-two.jpg', class:"parallax-image") %></div>
    <i class="large material-icons" style="margin-top: 120px; color: white;">code</i>
    <h4 class="headers" id="intro-header">I'm well versed in several Web Development tools, both in terms of front and back end.</h4>
  </div>

  <div class="row">
    <div class="col s12 m12 l10 offset-l1" style="margin-top: 30px;">
      <div class="left-side">
        <div class="skillbar clearfix" data-percent="90%">
          <div class="skillbar-title" style="background: #eeeeee;"><span><%= image_tag('ruby_badge.png') %></span></div>
          <div class="skillbar-bar" style="background: #ef9a9a;"><span>Ruby</span></div>
          <div class="skill-bar-percent">90%</div>
        </div>

        <div class="skillbar clearfix" data-percent="95%">
          <div class="skillbar-title" style="background: #e0e0e0;"><span><%= image_tag('rails-badge.png') %></span></div>
          <div class="skillbar-bar" style="background: #e57373;"><span>Rails</span></div>
          <div class="skill-bar-percent">95%</div>
        </div>

        <div class="skillbar clearfix" data-percent="95%">
          <div class="skillbar-title" style="background: #bdbdbd;"><span><%= image_tag('HTML5_Badge.png') %></span></div>
          <div class="skillbar-bar" style="background: #f44336;"><span>HTML5</span></div>
          <div class="skill-bar-percent">95%</div>
        </div>

        <div class="skillbar clearfix" data-percent="90%">
          <div class="skillbar-title" style="background: #9e9e9e;"><span><%= image_tag('CSS-icon.png') %></span></div>
          <div class="skillbar-bar" style="background: #d32f2f;"><span>CSS3</span></div>
          <div class="skill-bar-percent">90%</div>
        </div>

        <div class="skillbar clearfix" data-percent="85%">
          <div class="skillbar-title" style="background: #757575;"><span><%= image_tag('jquery-icon.png') %></span></div>
          <div class="skillbar-bar" style="background: #b71c1c;"><span>jQuery</span></div>
          <div class="skill-bar-percent">85%</div>
        </div>

        <div class="skillbar clearfix" data-percent="80%">
          <div class="skillbar-title" style="background: #616161;"><span><%= image_tag('js-logo-badge.png') %></span></div>
          <div class="skillbar-bar" style="background: #d50000;"><span>JavaScript</span></div>
          <div class="skill-bar-percent">80%</div>
        </div>

        <div class="skillbar clearfix" data-percent="85%">
          <div class="skillbar-title" style="background: #424242;"><span><%= image_tag('PostgreSQL-icon.png') %></span></div>
          <div class="skillbar-bar" style="background: #8B0000;"><span>PostgreSQL</span></div>
          <div class="skill-bar-percent">85%</div>
        </div>
      </div>

      <div class="right-side">
        <div class="skillbar clearfix" data-percent="95%">
          <div class="skillbar-title" style="background: #424242;"><span><%= image_tag('bootstrap.png', style:"width: 42px;") %></span></div>
          <div class="skillbar-bar" style="background:  #8B0000;"><span>Bootstrap</span></div>
          <div class="skill-bar-percent">95%</div>
        </div>

        <div class="skillbar clearfix" data-percent="95%">
          <div class="skillbar-title" style="background: #616161;"><span><%= image_tag('materializecss-icon.png') %></span></div>
          <div class="skillbar-bar" style="background: #d50000;"><span>Materialize</span></div>
          <div class="skill-bar-percent">95%</div>
        </div>

        <div class="skillbar clearfix" data-percent="75%">
          <div class="skillbar-title" style="background:#757575;"><span><%= image_tag('google-icon.png') %></span></div>
          <div class="skillbar-bar" style="background: #b71c1c;"><span>Google API</span></div>
          <div class="skill-bar-percent">75%</div>
        </div>

        <div class="skillbar clearfix" data-percent="90%">
          <div class="skillbar-title" style="background: #9e9e9e;"><span><%= image_tag('github-icon.png') %></span></div>
          <div class="skillbar-bar" style="background: #d32f2f;"><span>Github</span></div>
          <div class="skill-bar-percent">90%</div>
        </div>

        <div class="skillbar clearfix" data-percent="80%">
          <div class="skillbar-title" style="background: #bdbdbd;"><span><%= image_tag('heroku.png') %></span></div>
          <div class="skillbar-bar" style="background: #f44336;"><span>Heroku</span></div>
          <div class="skill-bar-percent">80%</div>
        </div>


        <div class="skillbar clearfix" data-percent="60%">
          <div class="skillbar-title" style="background: #e0e0e0;"><span><%= image_tag('ember-js.png') %></span></div>
          <div class="skillbar-bar" style="background: #e57373;"><span>Ember.js</span></div>
          <div class="skill-bar-percent">60%</div>
        </div>

        <div class="skillbar clearfix" data-percent="75%">
          <div class="skillbar-title" style="background:  #eeeeee;"><span><%= image_tag('google-icon.png') %></span></div>
          <div class="skillbar-bar" style="background: #ef9a9a;"><span>Google Analytics</span></div>
          <div class="skill-bar-percent">75%</div>
        </div>
      </div>
    </div>
  </div>
</html>
