<!DOCTYPE html>
<html>
  <body>
    <div class="row">
      <div class="col s12 m10 offset-m1 l10 offset-l1">
        <h4 class="headers">About Me</h4>

        <div class="card grey lighten-2">
          <div class="card-content white-text">
            <span class="card-title"><%= image_tag("main-logo.png", class:'brand-logo', style:"height: 40px; margin-bottom: 15px;") %></span>

            <p><%= image_tag("profile.jpg", style:"margin-bottom: 15px;") %></p>

            <div class="line">
              <i class="material-icons" id="about-icon" style="margin-right: 5px;">phonelink_ring</i>
              <p class="about-info">(416) 910-4130</p>
            </div>

            <div class="line" style="margin-top: 10px;">
              <i class="material-icons" id="about-icon" style="margin-right: 5px;">email</i>
              <p class="about-info">danielcheley@hotmail.com</p>
            </div>

            <div class="line" style="margin-top: 10px; margin-bottom: 20px;">
              <%= link_to image_tag('pdf.svg', class:"pdf-icon", id:"about-icon"),
             "https://bitmakerhq.s3.amazonaws.com/alexa/production/student/resume/1263/Daniel_Cheley_CV_012017.pdf",
              target:"_blank" %>
              <p class="about-info">Resume</p>
            </div>

            <p class="black-text" id="bio-text">My passion for problem solving
              drives me as a Software Developer to look for creative solutions
              and suggest alternative methods to help clients solve business issues,
              pushing me to continuously develop my technical skills each day as
              I build applications. Currently looking to work for a digital agency
              delivering innovative applications design and software solutions to
              clients where I can gain exposure to various projects and developer
              tools. This would be the ideal environment to leverage my past experience
              working with a diverse network of talented professionals to deliver on agreed
              upon specifications within required time frame and budgets.</p>

            <div class="line">
              <%= link_to image_tag('linkedin.svg', class:"contact-icon", style:"height: 32px; margin-top: 15px;"), "https://www.linkedin.com/in/daniel-cheley", target:"_blank" %>
              <%= link_to image_tag('github.svg', class:"contact-icon", style:"height: 32px; margin-top: 8px;"), "https://github.com/dcheley", target:"_blank" %>
            </div>
          </div>
        </div>

        <p class="welcome", style="margin-top: 10px;">Back to Home</p>
        <a href="/" class="waves-effect waves-light btn red darken-4", style="margin-bottom: 50px; color: #bdbdbd;"><i class="material-icons">fast_rewind</i></a>
      </div>
    </div>
  </body>
</html>
