<!DOCTYPE html>
<html>
  <body>
    <div class="parallax-container">
      <div class="parallax"><%= image_tag('bw-cool-code.jpeg', class:"parallax-image") %></div>

      <a href="/" class="brand-logo center"><%= image_tag('icon-logo.png', class:"logo") %></a>

      <h3 id="intro-header" style="margin-top: 80px;">Need an application built?</h3>
      <h3 id="intro-header">You've come to the right place...</h3>

      <p style="margin-top: 0;"><i class="material-icons large" id="intro-arrow">keyboard_arrow_down</i></p>
    </div>

      <%= render 'about' %>

      <div id="reappear-animation">
        <%= render 'skills' %>

        <%= render 'projects' %>

        <%= render 'contact' %>
      </div>
  </body>
</html>
