<!DOCTYPE html>
<html>
  <body>
    <div class="row">
      <div class="col s12 m10 offset-m1 l10 offset-l1">
        <h4 class="headers" id="title">PROJECTS</h4>

        <!-- Carousel -->
        <div class="carousel carousel-slider center" data-indicators="true">
          <div class="carousel-item black white-text" href="#one!">
            <h2 class="white-text" id="carousel-title">I'm currently working on an "Employee Engagement App" for Ontario Public Services...</h2>
            <p class="white-text" style="margin-right: 7%; margin-left: 7%;">Check out the code here: <%= link_to "Code & Description", "http://github.com/dcheley/frank-OH-", target: "_blank", class:"code-link" %></p>
            <%= image_tag('hr-app.jpg')%>
          </div>
          <div class="carousel-item black white-text" href="#three!">
            <h2 id="carousel-title">FrankOH!</h2>
            <p class="white-text" style="margin-right: 7%; margin-left: 7%;"><b>IN PROGRESS:</b> FrankOH!'s website showcasing the musical artist's work, tour/contact info and social media.</p>
            <p class="white-text" style="margin-right: 7%; margin-left: 7%;"><%= link_to "Code & Description", "http://github.com/dcheley/frank-OH-", target: "_blank", class:"code-link" %> | <%= link_to "Deployed Version", "http://frankoh.herokuapp.com", target: "_blank", class:"code-link" %></p>
            <%= image_tag('frankoh.jpg')%>
          </div>
          <div class="carousel-item black white-text" href="#three!">
            <h2 id="carousel-title">QSDL Website</h2>
            <p class="white-text" style="margin-right: 7%; margin-left: 7%;">A website built to display information for Toronto's Queen Street Dart League</p>
            <p class="white-text" style="margin-right: 7%; margin-left: 7%;"><%= link_to "Code & Description", "http://github.com/dcheley/QSDL-Website", target: "_blank", class:"code-link" %> | <%= link_to "Deployed Version", "http://qsdleague.herokuapp.com", target: "_blank", class:"code-link" %></p>
            <%= image_tag('bg.png')%>
          </div>
          <div class="carousel-item black white-text" href="#four!">
            <h2 id="carousel-title">Phyziq</h2>
            <p class="white-text" style="margin-right: 7%; margin-left: 7%;"><b>Final Bitmaker project:</b> A rails app which connects users to personal trainers, using Google Calendar API to manage training sessions.</p>
            <p class="white-text" style="margin-right: 7%; margin-left: 7%;"><%= link_to "Code & Description", "http://github.com/dcheley/Phyziq", target: "_blank", class:"code-link" %> | <%= link_to "Deployed Version", "http://phyziq.herokuapp.com", target: "_blank", class:"code-link" %></p>
            <%= image_tag('phyziq-bg.png')%>
          </div>
          <div class="carousel-item black white-text" href="#five!">
            <h2 id="carousel-title">Library App</h2>
            <p class="white-text" style= "margin-right: 7%; margin-left: 7%;">An Ember.js application leveraging the Rails API and Faker gem to both seed and monitor library/book/contact data.</p>
            <p class="white-text" style="margin-right: 7%; margin-left: 7%;"><%= link_to "Code & Description", "http://github.com/dcheley/library-app", target: "_blank", class:"code-link" %> | <%= link_to "Deployed Version", "https://library-app-b9f19.firebaseapp.com", target: "_blank", class:"code-link" %></p>
            <%= image_tag('lib-app.png')%>
          </div>
          <div class="carousel-item black white-text" href="#six!">
            <h2 id="carousel-title">Tic Tac Toe</h2>
            <p class="white-text" style= "margin-right: 7%; margin-left: 7%;">The same game you played earlier! This is an early Bitmaker assignment which I've polished.</p>
            <p class="white-text" style="margin-bottom: 0px; margin-right: 7%; margin-left: 7%;"><%= link_to "Code & Description", "http://github.com/dcheley/Tic-Tac-Toe", target: "_blank", class:"code-link" %> | <%= link_to "Play", "http://htmlpreview.github.io/?https://github.com/dcheley/Tic-Tac-Toe/blob/master/tic-tac-toe/index.html", target: "_blank", class:"code-link" %></p>
            <%= image_tag('tic-tac-toe.png', style:"height: 500px;")%>
          </div>
        </div>

        <p class="welcome">Next, About Me</p>
        <a href="/pages/about" class="waves-effect waves-light btn red darken-4", style="margin-bottom: 50px; color: #bdbdbd;"><i class="material-icons">perm_identity</i></a>
      </div>
    </div>
  </body>
</html>
