<!DOCTYPE html>
<html>
  <body>
    <h4 class="welcome">Skills</h4>
    <div class="row">
      <div class="col s12 m9 offset-m3 l10 offset-l2">
        <div class="skillbar clearfix " data-percent="90%">
          <div class="skillbar-title" style="background: #eeeeee;"><span><%= image_tag('ruby_badge.png') %>Ruby</span></div>
          <div class="skillbar-bar" style="background: #ffcdd2;"></div>
          <div class="skill-bar-percent">90%</div>
        </div>

        <div class="skillbar clearfix " data-percent="95%">
          <div class="skillbar-title" style="background: #e0e0e0;"><span><%= image_tag('rails-badge.png') %>Rails</span></div>
          <div class="skillbar-bar" style="background: #ef9a9a;"></div>
          <div class="skill-bar-percent">95%</div>
        </div>

        <div class="skillbar clearfix " data-percent="95%">
        	<div class="skillbar-title" style="background: #bdbdbd;"><span><%= image_tag('HTML5_Badge.png') %>HTML5</span></div>
        	<div class="skillbar-bar" style="background: #ef5350;"></div>
        	<div class="skill-bar-percent">95%</div>
        </div>

        <div class="skillbar clearfix " data-percent="80%">
        	<div class="skillbar-title" style="background: #9e9e9e;"><span><%= image_tag('CSS-icon.png') %>CSS3</span></div>
        	<div class="skillbar-bar" style="background: #f44336;"></div>
        	<div class="skill-bar-percent">80%</div>
        </div>

        <div class="skillbar clearfix " data-percent="85%">
        	<div class="skillbar-title" style="background: #757575;"><span><%= image_tag('jquery-icon.png') %>jQuery</span></div>
        	<div class="skillbar-bar" style="background: #d32f2f;"></div>
        	<div class="skill-bar-percent">85%</div>
        </div>

        <div class="skillbar clearfix " data-percent="70%">
        	<div class="skillbar-title" style="background: #616161;"><span><%= image_tag('js-logo-badge.png') %>JavaScript</span></div>
        	<div class="skillbar-bar" style="background: #d50000;"></div>
        	<div class="skill-bar-percent">70%</div>
        </div>

        <div class="skillbar clearfix " data-percent="80%">
        	<div class="skillbar-title" style="background: #424242;"><span><%= image_tag('PostgreSQL-icon.png') %>PostgreSQL</span></div>
        	<div class="skillbar-bar" style="background: #b71c1c;"></div>
        	<div class="skill-bar-percent">80%</div>
        </div>

        <div class="skillbar clearfix " data-percent="95%">
        	<div class="skillbar-title" style="background: #212121;"><span><%= image_tag('materializecss-icon.png') %>Materialize</span></div>
        	<div class="skillbar-bar" style="background: #ff1744;"></div>
        	<div class="skill-bar-percent">95%</div>
        </div>

        <div class="skillbar clearfix " data-percent="75%">
          <div class="skillbar-title" style="background: #696969;"><span>Google API</span></div>
          <div class="skillbar-bar" style="background: #8B0000;"></div>
          <div class="skill-bar-percent">75%</div>
        </div>
      </div>
    </div>
  </body>
</html>
